*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --font-main: 'Saira Condensed', 'Oswald', sans-serif;
    --base-color: #000000;
    --base-color-variant: #9929EA;
    --headtext-color: #CC66DA;
    --text-color: #FAEB92;
}

.lightmode{
  --base-color: #FFFFFF;
  --base-color-variant: #F3E8FF;
  --headtext-color: #6B21A8;
  --text-color: #1F2937;
}

body{
    background-color: var(--base-color);
}

header{
    background: radial-gradient(circle, rgba(82, 82, 82, 0.4) 0%,
    rgba(0,0,0,0.9)) 100%,
    url(navback.png);
    background-size: cover;
    background-position: center;
    height: 650px;
}

/* Navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    margin: auto;
}

.navlogo{
  font-size: 50px;
  font-weight: bolder;
  font-family: var(--font-main);
  color: var(--base-color-variant);
  display: inline-block;
  transform: perspective(500px) rotateX(20deg);
  letter-spacing: 3px;
}


.start{
    text-decoration: none;
    background-color: var(--base-color-variant);
    color: var(--text-color);
    font-family: var(--font-main);
    font-size: 1.5rem;
    padding: 7px 10px;
    border-radius: 4px;
}

/* Hero Section */
.hero-sec{
    margin-top: calc(650px - 67px - 300px);
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: center;
    align-items: center;
}
.hero-sec h1{
    height: 140px;
    width: 60vw;
    margin: auto;
    font-family: var(--font-main);
    font-size: 3rem;
    line-height: 45px;
    text-align: center;
    color: var(--text-color);
}

.hero-sec p{
    margin-bottom: 40px;
    font-family: var(--font-main);
    font-size: 1.2rem;
    color: var(--text-color);
}

.hero-signin{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: auto;
}

.hero-signin input{
    border: 1px solid white;
    border-radius: 4px;
    font-family: var(--font-main);
    font-size: 1rem;
    padding: 25px;
    height: 20px;
    width: 30vw;
    color: var(--text-color);
    background-color: transparent;
}
.hero-signin input::placeholder{
    color: var(--text-color);
    font-family: var(--font-main);
    font-size: 1.1rem;
    opacity: 0.6;
}