* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --font-main: "Saira Condensed", "Oswald", sans-serif;
  --base-color: #000000;
  --base-color-variant: #9929ea;
  --headtext-color: #cc66da;
  --text-color: #faeb92;
}

/* LightMode */

.lightmode {
  --base-color: #ffffff;
  --base-color-variant: #f3e8ff;
  --headtext-color: #6b21a8;
  --text-color: #1f2937;
}
.lightmode header::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}
body {
  background-color: var(--base-color);
}

header {
  background:
    radial-gradient(circle, rgba(56, 56, 56, 0.5) 0%, rgba(0, 0, 0, 0.4) 100%),
    url(navback.png);
  background-size: cover;
  background-position: center;
  min-height: 650px;
  position: relative;
}

header::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

header * {
  position: relative;
  z-index: 2;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  margin: auto;
}

.navlogo {
  font-size: 50px;
  font-weight: bolder;
  font-family: var(--font-main);
  color: var(--base-color-variant);
  display: inline-block;
  transform: perspective(500px) rotateX(20deg);
  letter-spacing: 3px;
}

.start {
  text-decoration: none;
  background-color: var(--base-color-variant);
  color: var(--text-color);
  font-family: var(--font-main);
  font-size: 1.5rem;
  padding: 7px 10px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hero Section */
.hero-sec {
  margin-top: calc(650px - 67px - 300px);
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  align-items: center;
}
.hero-sec h1 {
  height: 140px;
  width: 60vw;
  margin: auto;
  font-family: var(--font-main);
  font-size: 3rem;
  line-height: 45px;
  text-align: center;
  color: white;
}

.hero-sec p {
  margin-bottom: 40px;
  font-family: var(--font-main);
  font-size: 1.2rem;
  color: white;
}

.hero-signin {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: auto;
}

.hero-signin input {
  border: 1px solid white;
  border-radius: 4px;
  font-family: var(--font-main);
  font-size: 1rem;
  padding: 25px;
  height: 20px;
  width: 30vw;
  color: var(--text-color);
  background-color: transparent;
}
.hero-signin input::placeholder {
  color: white;
  font-family: var(--font-main);
  font-size: 1.1rem;
  opacity: 0.6;
}

/* About Section */

main{
    margin-top: 100px;
}

.about h2{
    font-family: var(--font-main);
    font-size: 2.5rem;
    text-align: center;
    color: var(--headtext-color);
}

.about-me{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 80vw;
    margin: auto;
}


.abt-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    
}
.abt-content p{
    font-family: var(--font-main);
    font-size: 1.2rem;
    text-align: start;
    color: var(--text-color);
}

.abt-icon{
    margin-top: calc(100% - 95%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.abt-icon i{
    color: var(--base-color-variant);
    font-size: 5rem;
    transition: 0.3s ease;
}

.abt-icon i:hover {
  filter: drop-shadow(0 0 12px #cc66da);
  transform: scale(1.1);
  cursor: pointer;
}